body {
    overflow-x: hidden;
    background: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.hidden {
    display: none !important;
}


/*
* Header
*/

header {
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header .logo img {
    width: 100%;
}

header .sous-menu {
    position: relative;
    list-style-type: none;
    width: 50%;
}

header .sous-menu #img-cart {
    width: 25px;
    margin-top: 15px;
    cursor: pointer;
}


/** panier **/

#panier {
    box-shadow: 0px 1px 5px 0px #adadad;
}

#panier table {
    border-collapse: collapse;
}

#panier table thead tr {
    background: #f4f4f4;
}

#panier table thead th {
    font-size: 11px;
    font-weight: 600;
    border: none;
}

#panier table tbody td img {
    width: auto;
    height: 40px;
}

#panier table tbody .supprimer-item {
    display: block;
    background-color: #ff5454;
    border-radius: 50%;
    padding: 8px;
    height: 10px;
    line-height: 13px;
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: bold;
    width: 10px;
    text-align: center;
}

header .sous-menu #panier {
    display: none;
}

header .sous-menu:hover #panier {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 8px;
    max-height: 400px;
    min-width: 400px;
    overflow-y: scroll;
}

header .sous-menu:hover #panier::-webkit-scrollbar {
    width: 4px;
}

header .sous-menu:hover #panier::-webkit-scrollbar-track {
    background: #f1f1f1;
}

header .sous-menu:hover #panier::-webkit-scrollbar-thumb {
    background: #888;
}

header .sous-menu:hover #panier::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*
* Search form
*/

.rechercher-formulaire {
    display: flex;
    max-width: 700px;
    width: 70%;
    min-width: 450px;
    margin: 30px auto;
    position: relative;
    display: flex;
}

.rechercher-formulaire input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
}

#pas_cours {
    text-align: center;
    padding: 25px;
}


/*
* Courses list
*/

#liste-cours h1 {
    text-align: left;
    width: fit-content;
    margin: 0 auto 25px auto;
    font-size: 30px;
    font-weight: 100;
    padding: 8px 15px;
    position: relative;
    color: #383838;
}

#liste-cours h1:after {
    content: "";
    display: block;
    height: 15px;
    width: 100%;
    background: #00B2BD;
    position: absolute;
    bottom: 6px;
    left: 10px;
    z-index: -1;
}

.entete__courses {
    margin-bottom: 30px;
}

.container__cours {
    margin-top: 30px;
    display: grid;
    grid-gap: 25px;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}

.cours__article {
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
}

.cours__article .cours_img {
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cours__article .cours_img img {
    width: 100%;
}

.cours__article .note {
    width: 70px;
    height: 15px;
    overflow: hidden;
}

.cours__article .note img {
    width: 100%;
}

.cours__article .note.m_5 img {
    margin-top: 0px;
}

.cours__article .note.m_4 img {
    margin-top: -15px;
}

.cours__article .note.m_3 img {
    margin-top: -30px;
}

.cours__article .note.m_2 img {
    margin-top: -45px;
}

.cours__article .note.m_1 img {
    margin-top: -60px;
}

.cours__article .info__article {
    padding: 10px 10px;
    position: relative;
}

.cours__article .info__article h4 {
    font-size: 16px;
    font-weight: 700;
}

.cours__article .prix {
    text-decoration: line-through;
    color: red;
}

.cours__article .soldes {
    color: black;
    font-weight: bold;
    float: right;
    font-size: 1.25em;
}

.cours__article .ajouter-au-panier {
    background: #00B2BD;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
}

.cours__article .ajouter-au-panier:hover {
    background: #00828a;
    color: white;
}

.fa {
    margin-bottom: 0;
    margin-right: 8px;
}

@media (min-width: 750px) {
    header {
        text-align: left;
    }
}

@media (min-width: 472px) and (max-width: 767px) {
    .container__cours {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 768px) {
    .container__cours {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (min-width: 949px) {
    .container__cours {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


/*
* Notification
*/

#notification_container {
    position: fixed;
    top: 40px;
    right: 25px;
    width: 200px;
    height: auto;
}

#notification_container .content {
    box-shadow: 0px 1px 5px 0px #adadad;
    background: #b2dbff;
    padding: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
}

#notification_container .content img {
    width: 25px;
    height: 25px;
}

#notification_container .content p {
    margin: auto;
    font-weight: 600;
    font-size: 13px;
}


/*
* Footer
*/

footer {
    display: block;
    margin-top: 50px;
}

.formulaire {
    text-align: center;
    font-size: x-large;
}

.alignement {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.centrer {
    text-align: center;
}

.margin0 {
    margin: 0 auto;
}

.boutton {
    background-color: black;
    color: white;
    border-radius: 50px;
}

.formulaireBordure {
    margin: 100px;
    border: solid;
}

.civilite {
    padding-left: 20px;
    padding-right: 20px;
}

.padding {
    padding-left: 20px;
    padding-right: 20px;
}

.nomdeFamille {
    padding-left: 20px;
    padding-right: 20px;
}

.email {
    padding-left: 20px;
    padding-right: 28px;
}

.telephone {
    padding-left: 30px;
    padding-right: 45px;
}

.nomdeRue {
    padding-left: 20px;
    padding-right: 20px;
}

.adresse {
    padding-left: 40px;
    padding-right: 68px;
}

.codePostal {
    padding-right: 20px;
    padding-left: 39px;
}

.ville {
    padding-right: 50px;
    padding-left: 88px;
}

.cryptogramme {
    padding-left: 20px;
    padding-right: 46px;
}